

<div class="jumbotron">
  <h2 class="text-center">I AM A...</h2>
</div>
<div class="row marketing">
  <div class="col-lg-6">
    <h4 class="text-center">Financial Advisor</h4>
    <p class="text-center">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-success hover-active", role: "button" %>
    </p>
  </div>

  <div class="col-lg-6">
    <h4 class="text-center">Fund Manager</h4>
    <p class="text-center">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-success hover-active", role: "button" %>
    </p>
  </div>
</div>

